header {
    background-color: #ffffff;
    text-align: center;
    height: 60px;
    width: 100%;
    border-bottom: outset;
    border-bottom-color: lavender;
    padding-bottom: 50px;
    margin: auto;
}

body {
    background-color: #cbd0d4de;
    margin: 0;
    padding: 0;
}



.title {
    margin: auto;
    width: 960px;
}

.yourname {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    width: 25%;
    padding-top: 17px;
    padding-bottom: 18.5px;
    margin-bottom: -10%;
    float: left;

}

.contact, .portfolio, .about {
    font-family: Arial, Helvetica, sans-serif;
    color: #77777777;
    padding: 5px;
    margin-top: 15px;
    float: right;
}

.content {
    height: 500px;
    border: 10px solid black;
    margin-top: 25px;
    width: 960px;
    margin-left: 60px;
    margin-right: 60px;
    background: white;
}

#about {
    overflow: auto;
    padding-top: 15px;
   padding-left: 15px;
}

#photo1 {
    clear: both;
    float: left;
   /* margin-top: 15px; */
    
}
#contentText {
    margin: 15px;
}

#aboutme {
    padding: 20px;
    color: #4aaaa5;
    background: white;
    border-bottom: 2px solid gray;
    margin-left: 10px;
    margin-right: 10px;
}





/* --------------------------- Portfolio ---------------------------------------------*/

#subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#frame {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    padding: 25px;
    margin-top: 5%;
    overflow: auto;
}

.portfoliobody {
    width: 450px;
    margin-left: 140px;
    margin-right: 120px;
    padding-left: 79px;
    padding-right: 69px;

}

#image1 {
    clear: both;
    width: 200px;
    height:150px;
    float: left;
    padding: 10px;
}

#imageText1 {
    background-color: #4aaaa5;
    opacity: 0.90;
    width: 200px;
    height: 37.5px;
    margin-left: 10px;
    margin-top: -55px;
    float: left;
    clear: both;

}

#text1 {
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 7px;
}

#image2 {
    clear: both;
    width: 200px;
    height:150px;
    padding: 10px;
}

#text2{
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 7px;
}

#imageText2{
    background-color: #4aaaa5;
    opacity: 0.90;
    width: 200px;
    height: 37.5px;
    position: relative;
    margin-right: 20px;
    margin-top: -57.5px;
    float: right;
    clear: both;

}

#image3 {
    width: 200px;
    height:150px;
    float: left;
    padding: 10px;
    
}

#text3{
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 7px;

}

#imageText3 {
    background-color: #4aaaa5;
    opacity: 0.90;
    width: 200px;
    height: 37.5px;
    margin-left: 10px;
    margin-top: -55px;
    float: left;
    clear: both;
}

#image4 { 
    width: 200px;
    height:150px;
    padding: 10px;
    
    
}

#text4 {
    color: #ffffff;
    text-align: center;
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 7px;
}

#imageText4 {
    background-color: #4aaaa5;
    opacity: 0.90;
    width: 200px;
    height: 37.5px;
    position: relative;
    margin-right: 20px;
    margin-top: -57.5px;
    float: right;
    clear: both;
    

}



/*-----------------------------Contact Page---------------------*/

#contact {
    margin: 10px;
    float: left;

}

#container {
    float: left;
}
